params {
    reference = "${baseDir}/assets/reference-sequence.fasta"
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

    process {
        withName: minimap2 {
            container = 'staphb/minimap2:latest'
        }
        withName: minimap2PE {
            container = 'staphb/minimap2:latest'
        }
        withName: samtools_fixmate {
            container = 'staphb/samtools:latest'
        }
        withName: samtools_sort {
            container = 'staphb/samtools:latest'
        }
        withName: samtools_markdup {
            container = 'staphb/samtools:latest'
        }
        withName: samtools_view {
            container = 'staphb/samtools:latest'
        }
        withName: samtools_consensus {
            container = 'staphb/samtools:latest'
        }
        withName: renamefasta {
            container = 'nanozoo/seqkit:latest'
        }
      }
    }
}